<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="./cookie" method="post">
      <input type="text" id="favorite" name="favorite" placeholder="좋아하는 맛">
      <input type="submit">
    </form>
    <% if(favorite) {%>
      <%= favorite %>
    <%} else { %>
      Not Cookie
    <%} %>
    <br>
    <br>
    <form action="./session" method="post">
      <input type="submit" value="세션체크">
    </form>
    <% if(count > 0) {%>
      <%= count %>
    <%} else { %>
      Not Session
    <%} %>
  </body>
</html>
