<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<style>
    body {
        margin: 0;
    }
    #header {
        position: absolute;
        top: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }
    #body {
        position: relative;
        margin: 0;
        top: 70px;
        width: 100%;
        height: 100%;
    }
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
    }
</style>
<body>
    <div id="header">
        <%- include('./ejs/header') %>
    </div>
    <section id="body">
        <%- body %>
        <%- script %>
    </section>
    <section id="footer">
        <hr>
        <%- include('./ejs/footer') %>
    </section>
</body>
</html>