<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<style>
    table{
        text-align: center;  
        border: 1px solid #444444;
        border-collapse: collapse;
    }
    th, tr, td{
        border: 1px solid #444444;
        padding: 10px;
    }
    .modal{
        position: fixed;   
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal_overlay{
        position: absolute;
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
    }
    .modal_content{
        position: relative;
        background-color: white;
        border-radius: 10px;
        padding: 20px 40px;    
        width: 250px;
        top: 0;
        text-align: center;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .hidden{
        display: none;
    }
</style>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
</script>
<body>
    <h1><%=title%> Page</h1>
    <div style="margin-bottom: 5px;">
        <button id="addBtn">등록</button>
    </div>
    <div>
        <table>
            <tr>
                <th>No</th>
                <th>아이디</th>
                <th>비밀번호</th>
                <th></th>
            </tr>
            <% for(var i=0;i<list.length;i++) {%>
                <tr>
                    <td><%=list[i].user_no%></td>
                    <td><%=list[i].user_id%></td>         
                    <td><%=list[i].user_pw%></td>  
                    <td>
                        <button class="modBtn" value=<%=list[i].user_no%> onclick="openModModal(this.value)">수정</button>
                        <button class="delBtn" value=<%=list[i].user_no%> onclick="delUser(this.value)">삭제</button>
                    </td>
                </tr>
            <%} %>
        </table>

        <!-- pagination div -->
        <div>
            <tr>
            <% if(curPage == 1) {%>
                <a>
                    [<<]
                </a>
            <%}else {%>
                <a href="/users?page=<%= curPage - 1 %>">
                    [<<]
                </a>
            <%} %>

            <% for(var i=0;i<maxPage;i++) {
                if(i + 1 == curPage) {%>
                <a>
                    [<%= i+1 %>]
                </a>
                <%}else {%>
                <a href="/users?page=<%= i + 1 %>">
                    [<%= i+1 %>]
                </a>
                <%} 
            } %>

            <% if(curPage == maxPage) {%>
                <a>
                    [>>]
                </a>
            <%}else {%>
                <a href="/users?page=<%= curPage + 1 %>">
                    [>>]
                </a>
            <%} %>
            </tr>
        </div>
        <!-- pagination div -->
    </div>

    <!-- modal div -->
    <div class="modal hidden">        
        <div class="modal_overlay"></div>
        <div class="modal_content">         
            <table style="border:0;">
                <form id="form" method="post">
                    <tr class="hidden">
                        <td><input id="user_no" name="no" type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <td><input id="user_id" name="id" type="text" value=""></td>                       
                    </tr>
                    <tr>
                        <th>PW</th>
                        <td><input id="user_pw" name="pw" type="password" value=""></td>
                    </tr>     
                </form>                       
                    <tr>              
                        <td colspan="2">
                            <input type="submit" id="add" class="btn hidden" value="등록" onclick="addUser()"/>
                            <input type="submit" id="mod" class="btn hidden" value="수정" onclick="modUser()"/>
                            <button id="close">취소</button>
                        </td>
                    </tr>
            </table>                
        </div>
    </div>
    <!-- modal div -->
</body>
<script>  
    // modal start     
    const modal = document.querySelector(".modal");
    const overlay = modal.querySelector(".modal_overlay");
    const closeBtn = modal.querySelector("#close");
    const openModal = (btn, url) => {
        modal.classList.remove("hidden");
        modal.querySelector(btn).classList.remove("hidden");
        modal.querySelector("#form").action = url;
    }
    const closeModal = () => {
        modal.classList.add("hidden");
        modal.querySelector("#form").action.remove;
        const btnList = modal.querySelectorAll(".btn")
        for(var i=0;i<btnList.length;i++){
            btnList[i].classList.add("hidden");
        }
    }
    overlay.addEventListener("click", closeModal);
    closeBtn.addEventListener("click", closeModal);
    // modal end 

    // add start   
    const addBtn = document.getElementById("addBtn");
    addBtn.addEventListener("click", function(){
        openModal("#add", "./addUser");
    });

    const addUser = () => {
        var formData = $("#form").serialize();
        if(confirm("등록하시겠습니까?")){
            $.ajax({
                url: "/users/addUser",
                type: "post",
                data: formData,
                success: function(result){
                    window.location.href = "/users";
                    alert(result["msg"]);
                },
                error: function(xhr, status){
                    alert(xhr + " : " + status)
                }
            });   
        }else{
            return;
        }          
    }
    // add end
    
    // mod start
    let userList = JSON.parse('<%- JSON.stringify(list) %>');
    const openModModal = (userNo) => {
        for(var i=0;i<userList.length;i++){
            if(userList[i].user_no == userNo){
                modal.querySelector("#user_no").value = userList[i].user_no;
                modal.querySelector("#user_id").value = userList[i].user_id;
                modal.querySelector("#user_pw").value = userList[i].user_pw;
            }
        }
        openModal("#mod", "./modUser");
    }

    const modUser = () => {
        var formData = $("#form").serialize();
        if(confirm("수정하시겠습니까?")){
            $.ajax({
                url: "./modUser",
                type: "post",
                data: formData,
                success: function(result){
                    window.location.href = "./list";
                    alert(result["msg"]);
                },
                error: function(xhr, status){
                    alert(xhr + " : " + status)
                }
            });
        }else{
            return;
        }
    }
    // mod end 
    
    // del start
    const delUser = (user_no) => {
        if(confirm("삭제하시겠습니까?")){
            $.ajax({
                url: "./delUser",
                type: "post",
                data: {"no" : user_no},
                success: function(result){
                    window.location.href = "./list";
                    alert(result["msg"]);
                },
                error: function(xhr, status){
                    alert(xhr + " : " + status)
                }
            });    
        }else{
            return;
        }  
    }
    // del end 
</script>
</html>